.app-home-header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    z-index: 9;
    .logo {
        display: inline-block;
        width: 335px;
        @media screen and (max-width: 1400px) {
            width: 240px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .options {
        width: calc(100% - 335px);
        display: inline-block;
        line-height: 55px;
        vertical-align: middle;
        @media screen and (max-width: 1400px) {
            width: calc(100% - 240px);
            line-height: 40px;
        }
        .menu-icon {
            float: right;
            cursor: pointer;
            display: none;
            @media screen and (max-width: 900px) {
                display: inline-block;
            }
            p {
                width: 30px;
                height: 2px;
                background-color: white;
                margin-bottom: 5px;
                position: relative;
            }
            &.active {
                .first {
                    transform: rotate(45deg);
                    top: 2px;
                }
                .second {
                    display: none;
                }
                .third {
                    transform: rotate(-45deg);
                    top: -5px;
                }
            }
        }
        ul {
            list-style-type: none;
            white-space: nowrap;
            text-align: right;
            @media screen and (max-width: 900px) {
                width: 250px;
                float: right;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 10px;
                border-radius: 6px;
                display: none;
                position: absolute;
                left: calc(100% - 270px);
                top: 50px;
                &.active {
                    display: block;
                }
            }
            li {
                display: inline-block;
                margin-right: 35px;
                font-size: 16px;
                letter-spacing: 3px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                span {
                    color: white;
                    &:hover {
                        color: black;
                    }
                }
                @media screen and (max-width: 1400px) {
                    font-size: 12px;
                    letter-spacing: 2px;
                    margin-right: 25px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 11px;
                    margin-right: 20px;
                }
                @media screen and (max-width: 900px) {
                    display: block;
                }
                &.favourite {
                    padding-right: 15px;
                    border-right: 1px solid #e5ebeb;
                    @media screen and (max-width: 1024px) {
                        padding-right: 10px;
                        margin-right: 10px;
                    }
                    @media screen and (max-width: 900px) {
                        border-right: none;
                    }
                }
                .indicator {
                    position: relative;
                    top: 10px;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background-color: #3fb897;
                    right: 1px;
                    font-size: 12px;
                    color: #ffffff;
                    line-height: 17px;
                    text-align: center;
                    display: inline-block;
                    @media screen and (max-width: 1400px) {
                        top: 0px;
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
                button {
                    font-size: 16px;
                    letter-spacing: 2px;
                    color: #ffffff;
                    width: 130px;
                    height: 35px;
                    border-radius: 5px;
                    border: 1px solid #ffffff;
                    background-color: transparent;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
                .profileInfo {
                    p {
                        display: inline-block;
                        color: white;
                        font-weight: bold;
                    }
                    .profile-logo {
                        margin-left: 10px;
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        background-color: #e5ebeb;
                        font-size: 30px;
                        color: #3fb897;
                        font-weight: bold;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        @media screen and (max-width: 1800px) {
                            font-size: 28px;
                            width: 53px;
                            height: 53px;
                        }
                        @media screen and (max-width: 1600px) {
                            font-size: 25px;
                            width: 47px;
                            height: 47px;
                        }
                        @media screen and (max-width: 1500px) {
                            font-size: 23px;
                            width: 44px;
                            height: 44px;
                        }
                        @media screen and (max-width: 1400px) {
                            font-size: 22px;
                            width: 41px;
                            height: 41px;
                        }
                        @media screen and (max-width: 1280px) {
                            font-size: 20px;
                            width: 38px;
                            height: 38px;
                        }
                    }
                }
            }
        }
    }
}