.app-dashboard-search {
    background-color: white;
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 20px;
        .content {
            margin-top: 10px;
            .left {
                width: 60%;
                display: inline-block;
                .column {
                    border-radius: 5px;
                    background-color: #ffffff;
                    border: 1px solid #9da9bc;
                    padding: 10px;
                }
                .areas {
                    width: calc(40% - 15px);
                    margin-right: 15px;
                    display: inline-block;
                    select {
                        width: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 16px;
                        color: #9da9bc;
                    }
                }
                .date,
                .guest,
                .price {
                    width: calc(20% - 10px);
                    margin-right: 15px;
                    display: inline-block;
                    border-radius: 5px;
                    background-color: #ffffff;
                    border: 1px solid #9da9bc;
                    padding: 10px;
                    cursor: pointer;
                    select {
                        width: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 16px;
                        color: #9da9bc;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        color: #9da9bc;
                    }
                }
                .price {
                    margin-right: 0px;
                }
                .guest {
                    position: relative;
                    p {
                        color: #9da9bc;
                    }
                    &.active {
                        background-color: #3fb897;
                        color: white;
                        display: inline-block;
                        p {
                            color: white;
                        }
                        .guest-content {
                            display: block;
                        }
                    }
                    .guest-content {
                        display: none;
                        position: absolute;
                        width: calc(100% + 20px);
                        left: 0;
                        top: calc(100% + 3px);
                        background-color: white;
                        border: 1px solid grey;
                        border-radius: 3px;
                        padding: 10px;
                        color: black;
                        z-index: 9;
                        .top {
                            span {
                                font-size: 12px;
                                color: #9da9bc;
                            }
                            .minus {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                line-height: 13px;
                                text-align: center;
                                border-radius: 50%;
                                border: 1px solid #393337;
                                margin-left: 25px;
                                font-size: 12px;
                                cursor: pointer;
                            }
                            .number {
                                font-size: 16px;
                                color: #393337;
                                display: inline-block;
                                margin: 0 10px;
                                line-height: 1;
                            }
                            .plus {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                line-height: 16px;
                                text-align: center;
                                border-radius: 50%;
                                border: 1px solid #6bb497;
                                font-size: 12px;
                                cursor: pointer;
                            }
                        }
                        .bottom {
                            line-height: 1;
                            margin-top: 10px;
                            span {
                                font-size: 11px;
                                font-weight: bold;
                                cursor: pointer;
                            }
                            .clear {
                                color: #393337;
                            }
                            .apply {
                                color: #3fb897;
                                float: right;
                            }
                        }
                    }
                }
            }
            .right {
                width: 40%;
                float: right;
                text-align: right;
                .accommodations {
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 18px;
                    color: #393337;
                    font-family: "Open Sans";
                }
                .switch {
                    display: inline-block;
                    margin-right: 15px;
                    width: 60px;
                    height: 30px;
                    background-color: #efefef;
                    border-radius: 20px;
                    cursor: pointer;
                    position: relative;
                    .indicator {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        left: 5px;
                        .arrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }
                }
                .activities {
                    display: inline-block;
                    font-size: 18px;
                    color: #c7c7c7;
                    font-family: "Open Sans";
                    font-weight: 300;
                }
            }
        }
    }
}