.dashboard-accommodation {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
    .a-header {
        text-align: center;
        strong {
            font-size: 36px;
            letter-spacing: 6px;
            color: #000000;
            font-family: "Open Sans";
            font-weight: 300;
            text-align: center;
        }
    }
    .content {
        padding-top: 40px;
        
    }
}