.app-home {
    .top {
        .container {
            position: relative;
            .bg-area {
                overflow: hidden;
                height: 700px;
                @media screen and (max-width: 1400px) {
                    height: 580px;
                }
                @media screen and (max-width: 1280px) {
                    height: 500px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
        }
    }
    .accommodation,
    .activities,
    .vip-difference {
        max-width: 1280px;
        margin: 0 auto;
        padding: 120px 20px;
        @media screen and (max-width: 1280px) {
            padding: 100px 20px;
        }
        @media screen and (max-width: 1024px) {
            padding: 70px 20px;
        }
        .a-header {
            position: relative;
            @media screen and (max-width: 600px) {
                padding-bottom: 45px;
            }
            .column {
                display: inline-block;
                max-width: calc(100% - 375px);
                @media screen and (max-width: 1280px) {
                    max-width: calc(100% - 300px);
                }
                @media screen and (max-width: 767px) {
                    max-width: calc(100% - 230px);
                }
                @media screen and (max-width: 600px) {
                    max-width: 100%;
                }
                h2 {
                    font-size: 28px;
                    letter-spacing: 5px;
                    color: #000000;
                    font-weight: 300;
                    margin: 10px 0px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    @media screen and (max-width: 1280px) {
                        font-size: 24px;
                        letter-spacing: 4px;
                    }
                }
                span {
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: #888484;
                    @media screen and (max-width: 1280px) {
                        font-size: 11px;
                    }
                }
                &.explore-more {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                    button {
                        width: 320px;
                        height: 60px;
                        border-radius: 10px;
                        background-color: #ffffff;
                        border: 1px solid #9f9f9f;
                        font-size: 18px;
                        letter-spacing: 3px;
                        color: #888484;
                        font-family: "Open Sans";
                        cursor: pointer;
                        outline: none;
                        @media screen and (max-width: 1280px) {
                            font-size: 12px;
                            width: 215px;
                            height: 40px;
                            border-radius: 7px;
                        }
                        @media screen and (max-width: 600px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .content {
            padding-top: 50px;
            @media screen and (max-width: 1280px) {
                padding-top: 40px;
            }
            @media screen and (max-width: 1024px) {
                padding-top: 30px;
            }
        }
    }
    .vip-difference {
        .content {
            .card {
                width: calc(25% - 15px);
            }
        }
    }
    .sunshine {
        overflow: hidden;
        img {
            height: 650px;
            width: 100%;
            @media screen and (max-width: 1400px) {
                height: 540px;
            }
            @media screen and (max-width: 1024px) {
                height: 500px;
            }
        }
    }
    .bg-cover {
        overflow: hidden;
        img {
            height: 650px;
            width: 100%;
            @media screen and (max-width: 1400px) {
                height: 540px;
            }
            @media screen and (max-width: 1024px) {
                height: 500px;
            }
        }
    }
    .private-chefs {
        overflow: hidden;
        margin-top: 60px;
        .img-content {
            img {
                height: 350px;
                object-fit: cover;
                width: 100%;
                @media screen and (max-width: 1400px) {
                    height: 250px;
                }
            }
        }
        p {
            font-size: 16px;
            letter-spacing: 3px;
            color: #2f405d;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .napali_coast {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
        .info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            width: 900px;
            text-align: center;
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 700px;
            }
            @media screen and (min-width: 481px) and (max-width: 767px) {
                width: 400px;
            }
            @media screen and (min-width: 320px) and (max-width: 480px) {
                width: 300px;
            }
            strong {
                font-size: 67px;
                letter-spacing: -1px;
                color: #ffffff;
                font-family: "Monotype Corsiva";
                display: block;
                margin-bottom: 10px;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 52px;
                }
                @media screen and (min-width: 480px) and (max-width: 767px) {
                    font-size: 30px;
                }
                @media screen and (min-width: 320px) and (max-width: 480px) {
                    font-size: 24px;
                }
            }
            span {
                font-size: 18px;
                letter-spacing: 3px;
                font-family: "Open Sans";
                font-weight: bold;
                text-align: center;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 14px;
                }
                @media screen and (min-width: 480px) and (max-width: 767px) {
                    font-size: 12px;
                }
                @media screen and (min-width: 320px) and (max-width: 480px) {
                    font-size: 10px;
                }
            }
        }
    }
}