.app-home {
    .top {
        .container {
            position: relative;
            .bg-area {
                overflow: hidden;
            }
        }
    }
    .accommodation,
    .activities,
    .vip-difference {
        max-width: 1280px;
        margin: 0 auto;
        padding: 100px 20px;
        .a-header {
            .column {
                display: inline-block;
                max-width: calc(100% - 375px);
                h2 {
                    font-size: 28px;
                    letter-spacing: 5px;
                    color: #000000;
                    color: #000000;
                    font-weight: 300;
                    margin: 10px 0px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: #888484;
                }
                &.explore-more {
                    float: right;
                    button {
                        width: 320px;
                        height: 60px;
                        border-radius: 10px;
                        background-color: #ffffff;
                        border: 1px solid #9f9f9f;
                        font-size: 18px;
                        letter-spacing: 3px;
                        color: #888484;
                        font-family: "Open Sans";
                        cursor: pointer;
                        outline: none;
                    }
                }
            }
        }
        .content {
            padding-top: 40px;
            .card {
                width: calc(33.33% - 14px);
                display: inline-block;
                margin-right: 20px;
                .bg-image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
                .info {
                    margin: 5px;
                    .description {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 12px;
                        letter-spacing: 2px;
                        color: #2f405d;
                        font-weight: bold;
                    }
                    .details {
                        font-size: 11px;
                        color: #888484;
                        .dot {
                            display: inline-block;
                            margin: 0px 8px;
                            width: 3px;
                            height: 2px;
                            vertical-align: middle;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
    .vip-difference {
        .content {
            .card {
                width: calc(25% - 15px);
            }
        }
    }
    .sunshine {
        overflow: hidden;
    }
    .bg-cover {
        overflow: hidden;
    }
    .private-chefs {
        overflow: hidden;
        margin-top: 60px;
        .img-content {
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        p {
            font-size: 16px;
            letter-spacing: 3px;
            color: #2f405d;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .napali_coast {
        overflow: hidden;
        position: relative;
        .info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            width: 900px;
            text-align: center;
            strong {
                font-size: 67px;
                letter-spacing: -1px;
                color: #ffffff;
                font-family: "Monotype Corsiva";
                display: block;
                margin-bottom: 10px;
            }
            span {
                font-size: 18px;
                letter-spacing: 3px;
                font-family: "Open Sans";
                font-weight: bold;
                text-align: center;
            }
        }
    }
}