.app-footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    .logo {
        display: inline-block;
        width: 225px;
        vertical-align: middle;
        img {
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 767px) {
            width: 150px;
        }
        @media screen and (max-width: 480px) {
            width: 280px;
        }
    }
    .options {
        width: calc(100% - 450px);
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
        @media screen and (max-width: 1279px) {
            line-height: 25px;
        }
        @media screen and (max-width: 767px) {
            width: calc(100% - 300px);
        }
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-top: 20px;
        }
        ul {
            list-style-type: none;
            white-space: nowrap;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 30px;
                font-size: 14px;
                letter-spacing: 3px;
                color: #2f405d;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                @media screen and (max-width: 1280px) {
                    font-size: 10px;
                    margin-right: 25px;
                }
                @media screen and (max-width: 1024px) {
                    display: block;
                    margin-right: 0px;
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                &:hover {
                    color: #2196F3;
                }
            }
        }
    }
    .social {
        width: 225px;
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
        @media screen and (max-width: 767px) {
            width: 150px;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        ul {
            list-style-type: none;
            white-space: nowrap;
            text-align: right;
            li {
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
                letter-spacing: 3px;
                color: #2f405d;
                font-weight: bold;
                text-align: center;
                @media screen and (max-width: 1280px) {
                    font-size: 10px;
                }
                @media screen and (max-width: 767px) {
                    display: block;
                    margin-right: 0px;
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                img {
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }
}