.app-footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    .logo {
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .options {
        width: 60%;
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
        ul {
            list-style-type: none;
            white-space: nowrap;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 30px;
                font-size: 14px;
                letter-spacing: 3px;
                color: #2f405d;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                &:last-child {
                    margin-right: 0px;
                }
                &:hover {
                    color: #2196F3;
                }
            }
        }
    }
    .social {
        width: calc(40% - 245px);
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
        ul {
            list-style-type: none;
            white-space: nowrap;
            text-align: right;
            li {
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
                letter-spacing: 3px;
                color: #2f405d;
                font-weight: bold;
                text-align: center;
                &:last-child {
                    margin-right: 0px;
                }
                img {
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }
}