.accommodation-details {
    font-family: "Open Sans";
    .header-section {
        background-color: #393337;
    }
    .background-cover {
        position: relative;
        .image-content {
            width: 100%;
            height: 650px;
            @media screen and (max-width: 1600px) {
                height: 600px;
            }
            @media screen and (max-width: 1400px) {
                height: 500px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .slider-dots {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            .dot {
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: white;
                border-radius: 50%;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
                &.active {
                    transform: scale(1.5);
                }
            }
        }
        .more-photos {
            position: absolute;
            bottom: 40px;
            right: 180px;
            border-radius: 5px;
            background-color: #ffffff;
            padding: 15px;
            margin-top: 1px;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                bottom: 20px;
            }
            @media screen and (max-width: 1600px) {
                right: 120px;
            }
            @media screen and (max-width: 1400px) {
                right: 100px;
            }
            @media screen and (max-width: 767px) {
                right: 20px;
            }
            @media screen and (max-width: 480px) {
                bottom: 80px;
                right: 50%;
                transform: translateX(50%);
                width: 200px;
            }
            .icon {
                display: inline-block;
                position: relative;
                top: 5px;
                .row {
                    height: 8px;
                    .first,
                    .second {
                        width: 3px;
                        height: 3px;
                        background-color: black;
                        margin-bottom: 5px;
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
            }
            .text {
                display: inline-block;
                margin-left: 15px;
                font-size: 14px;
                letter-spacing: 3px;
                color: #393337;
                font-family: "Open Sans";
                font-weight: 600;
                text-align: center;
                -webkit-user-select: none;
                /* Chrome/Safari */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* IE10+ */
                -o-user-select: none;
                user-select: none;
            }
        }
    }
    .am-details {
        max-width: calc(100% - 200px);
        margin: 0 auto;
        padding: 100px 80px;
        @media screen and (max-width: 1600px) {
            padding: 80px 120px;
            max-width: 100%;
        }
        @media screen and (max-width: 1400px) {
            padding: 80px 100px;
        }
        @media screen and (max-width: 1180px) {
            padding: 60px 60px;
        }
        @media screen and (max-width: 480px) {
            padding: 40px 40px;
        }
        .left {
            width: 65%;
            display: inline-block;
            margin-right: 100px;
            
            @media screen and (max-width: 1600px) {
                margin-right: 80px;
            }
            @media screen and (max-width: 1400px) {
                margin-right: 60px;
            }
            @media screen and (max-width: 900px) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 40px;
            }
            .row {
                margin-bottom: 80px;
                &.last-row {
                    margin-bottom: 0px;
                }
                @media screen and (max-width: 767px) {
                    margin-bottom: 0px;
                }
                .info {
                    label {
                        font-size: 36px;
                        letter-spacing: 6px;
                        color: #000000;
                        font-weight: 300;
                        @media screen and (max-width: 1600px) {
                            font-size: 34px;
                            letter-spacing: 4px;
                        }
                        @media screen and (max-width: 1400px) {
                            font-size: 30px;
                            letter-spacing: 3px;
                        }
                        @media screen and (max-width: 1180px) {
                            font-size: 24px;
                            letter-spacing: 2px;
                        }
                        @media screen and (max-width: 480px) {
                            font-size: 20px;
                            letter-spacing: 1px;
                        }
                    }
                    p {
                        &.first {
                            margin-top: 45px;
                            @media screen and (max-width: 480px) {
                                margin-top: 20px;
                                margin-bottom: 15px;
                            }
                        }
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: #888484;
                        font-weight: 400;
                        margin-bottom: 25px;
                        @media screen and (max-width: 1600px) {
                            font-size: 14px;
                        }
                        @media screen and (max-width: 1400px) {
                            font-size: 12px;
                        }
                        @media screen and (max-width: 480px) {
                            font-size: 10px;
                            margin-bottom: 40px;
                        }
                    }
                }
                .column {
                    width: calc(50% - 30px);
                    display: inline-block;
                    margin-right: 30px;
                    vertical-align: top;
                    &:last-child {
                        margin-right: 0px;
                    }
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        margin-bottom: 30px;
                        margin-right: 0px;
                    }
                    .d-info {
                        display: flex;
                        align-items: center;
                        strong {
                            margin-left: 15px;
                            font-size: 18px;
                            letter-spacing: 1px;
                            line-height: 25px;
                            color: #3d3d3d;
                            font-weight: 700;
                            @media screen and (max-width: 767px) {
                                font-size: 16px;
                            }
                            @media screen and (max-width: 480px) {
                                font-size: 14px;
                            }
                        }
                    }
                    .m-info {
                        margin-top: 20px;
                        @media screen and (max-width: 767px) {
                            margin-top: 10px;
                        }
                        p {
                            font-size: 16px;
                            letter-spacing: 1px;
                            line-height: 25px;
                            color: #888484;
                            font-weight: 400;
                            @media screen and (max-width: 1400px) {
                                font-size: 14px;
                            }
                            @media screen and (max-width: 767px) {
                                font-size: 12px;
                            }
                            @media screen and (max-width: 480px) {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
        .right {
            display: inline-block;
            width: calc(35% - 100px);
            vertical-align: top;
            background-color: #ffffff;
            border: 1px solid #9da9bc;
            @media screen and (max-width: 1600px) {
                width: calc(35% - 80px);
            }
            @media screen and (max-width: 1400px) {
                width: calc(35% - 60px);
            }
            @media screen and (max-width: 900px) {
                width: 100%;
            }
            .row {
                padding: 20px;
                border-bottom: 1px solid #9da9bc;
                &.first {
                    p {
                        font-size: 32px;
                        color: #2f405d;
                        font-weight: 400;
                        display: inline-block;
                        margin-bottom: 5px;
                        @media screen and (max-width: 1600px) {
                            font-size: 28px;
                        }
                        @media screen and (max-width: 1400px) {
                            font-size: 24px;
                        }
                        &.ind {
                            position: relative;
                            top: -10px;
                            left: 5px;
                        }
                    }
                    span {
                        font-size: 14px;
                        color: #888484;
                        font-weight: 400;
                        display: block;
                        @media screen and (max-width: 1600px) {
                            font-size: 12px;
                        }
                    }
                }
                &.second {
                    label {
                        font-size: 14px;
                        letter-spacing: 3px;
                        color: #2f405d;
                        font-weight: 600;
                    }
                    .dates {
                        width: calc(50% - 5px);
                        margin-right: 10px;
                        display: inline-block;
                        position: relative;
                        @media screen and (max-width: 1280px) {
                            width: 100%;
                            margin-right: 0px;
                            margin-bottom: 20px;
                        }
                        .date-icon {
                            position: absolute;
                            top: 45px;
                            right: 10px;
                            pointer-events: none;
                            z-index: 1;
                            background: #fff;
                            height: 18px;
                        }
                        .SingleDatePicker {
                            display: block;
                            border-radius: 5px;
                            margin-top: 5px;
                            width: 100%;
                            border: 1px solid #9da9bc;
                            height: 50px;
                            .SingleDatePickerInput {
                                width: 100%;
                                border-radius: 5px;
                                height: 48px;
                                border: none;
                                .DateInput {
                                    position: relative;
                                    top: 1px;
                                    left: 1px;
                                }
                            }
                            .DateInput_input {
                                font-size: 16px;
                                color: #9da9bc;
                                font-family: "Open Sans";
                                font-weight: 400;
                            }
                        }
                    }
                    .guests {
                        width: calc(50% - 10px);
                        display: inline-block;
                        @media screen and (max-width: 1280px) {
                            width: 100%;
                        }
                        .guest-list {
                            border-radius: 5px;
                            background-color: #ffffff;
                            border: 1px solid #9da9bc;
                            padding: 0px 10px;
                            height: 50px;
                            line-height: 50px;
                            position: relative;
                            margin-top: 5px;
                            select {
                                width: 100%;
                                border: none;
                                background-color: transparent;
                                font-size: 16px;
                                color: #9da9bc;
                                height: 100%;
                                @media screen and (max-width: 1600px) {
                                    font-size: 14px;
                                }
                                @media screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    position: relative;
                                    top: -2px;
                                }
                            }
                            .down-arrow {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 10px;
                                background-color: white;
                                width: 20px;
                                height: 100%;
                                pointer-events: none;
                                cursor: pointer;
                                svg {
                                    fill: #acacac;
                                }
                            }
                        }
                    }
                }
                &.third {
                    border-bottom: none;
                    text-align: center;
                    button {
                        border-radius: 5px;
                        background-color: #393337;
                        font-size: 14px;
                        letter-spacing: 3px;
                        color: #ffffff;
                        font-family: "Open Sans";
                        font-weight: 600;
                        text-align: center;
                        padding: 15px 40px;
                        cursor: pointer;
                        @media screen and (max-width: 1180px) {
                            font-size: 12px;
                            padding: 15px 20px;
                        }
                    }
                }
            }
        }
    }
    .similar-accommodations {
        border-top: 1px solid #9da9bc;
        border-bottom: 1px solid #9da9bc;
        .container {
            max-width: 1280px;
            margin: 0 auto;
            padding: 100px 20px;
            @media screen and (max-width: 1400px) {
                padding: 80px 20px;
            }
            @media screen and (max-width: 1280px) {
                padding: 60px 20px;
            }
            @media screen and (max-width: 767px) {
                padding: 50px 20px;
            }
            @media screen and (max-width: 480px) {
                padding: 40px 20px;
            }
            .heading {
                font-size: 36px;
                letter-spacing: 6px;
                color: #000000;
                font-weight: 300;
                text-align: center;
                @media screen and (max-width: 1600px) {
                    font-size: 34px;
                    letter-spacing: 5px;
                }
                @media screen and (max-width: 1400px) {
                    font-size: 32px;
                    letter-spacing: 4px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 30px;
                    letter-spacing: 3px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 24px;
                    letter-spacing: 2px;
                }
                @media screen and (max-width: 480px) {
                    font-size: 22px;
                    letter-spacing: 2px;
                }
            }
            .s-a-list {
                margin-top: 60px;
            }
        }
    }
}