.dashboard-header {
    background-color: #393337;
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        .logo {
            display: inline-block;
            width: auto;
            cursor: pointer;
            @media screen and (max-width: 1400px) {
                width: 270px;
            }
            @media screen and (max-width: 1280px) {
                width: 230px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .options {
            float: right;
            @media screen and (max-width: 767px) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                z-index: 1;
            }
            .menu-icon {
                float: right;
                cursor: pointer;
                display: none;
                @media screen and (max-width: 767px) {
                    display: inline-block;
                }
                p {
                    width: 30px;
                    height: 2px;
                    background-color: white;
                    margin-bottom: 5px;
                    position: relative;
                }
                &.active {
                    .first {
                        transform: rotate(45deg);
                        top: 2px;
                    }
                    .second {
                        display: none;
                    }
                    .third {
                        transform: rotate(-45deg);
                        top: -5px;
                    }
                }
            }
            ul {
                list-style-type: none;
                white-space: nowrap;
                text-align: right;
                vertical-align: middle;
                line-height: 55px;
                height: 55px;
                @media screen and (max-width: 1400px) {
                    line-height: 44px;
                    height: 44px;
                }
                @media screen and (max-width: 1280px) {
                    line-height: 38px;
                    height: 38px;
                }
                @media screen and (max-width: 767px) {
                    width: 250px;
                    float: right;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;
                    border-radius: 6px;
                    display: none;
                    position: absolute;
                    left: calc(100% - 270px);
                    top: 50px;
                    &.active {
                        display: block;
                        height: auto;
                        text-align: left;
                        top: 50px;
                        left: calc(100% - 245px);
                    }
                }
                li {
                    display: inline-block;
                    margin-right: 25px;
                    position: relative;
                    font-size: 16px;
                    letter-spacing: 2px;
                    color: #ffffff;
                    cursor: pointer;
                    @media screen and (max-width: 1800px) {
                        font-size: 15px;
                    }
                    @media screen and (max-width: 1600px) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: 1500px) {
                        font-size: 13px;
                    }
                    @media screen and (max-width: 1400px) {
                        font-size: 12px;
                    }
                    @media screen and (max-width: 1280px) {
                        font-size: 11px;
                    }
                    @media screen and (max-width: 767px) {
                        display: block;
                        margin-right: 0px;
                    }
                    &.favourite {
                        padding-right: 40px;
                        border-right: 1px solid white;
                        p {
                            position: absolute;
                            top: 5px;
                            right: 25px;
                            width: 18px;
                            height: 18px;
                            border-radius: 9px;
                            background-color: #3fb897;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            letter-spacing: 1px;
                            @media screen and (max-width: 767px) {
                                right: unset;
                                left: 85px;
                            }
                        }
                        @media screen and (max-width: 767px) {
                            border-right: none;
                        }
                    }
                    &.profileInfo {
                        margin-right: 0px;
                        p {
                            display: inline-block;
                        }
                        .profile-logo {
                            margin-left: 10px;
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            background-color: #e5ebeb;
                            font-size: 30px;
                            color: #3fb897;
                            font-weight: bold;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            @media screen and (max-width: 1800px) {
                                font-size: 28px;
                                width: 53px;
                                height: 53px;
                            }
                            @media screen and (max-width: 1600px) {
                                font-size: 25px;
                                width: 47px;
                                height: 47px;
                            }
                            @media screen and (max-width: 1500px) {
                                font-size: 23px;
                                width: 44px;
                                height: 44px;
                            }
                            @media screen and (max-width: 1400px) {
                                font-size: 22px;
                                width: 41px;
                                height: 41px;
                            }
                            @media screen and (max-width: 1280px) {
                                font-size: 20px;
                                width: 38px;
                                height: 38px;
                            }
                        }
                    }
                    &.login-content {
                        margin-right: 0px;
                        button {
                            padding: 8px;
                            background-color: transparent;
                            color: white;
                            font-size: 13px;
                            border-radius: 5px;
                            width: 120px;
                            cursor: pointer;
                            &:hover {
                                background-color: #2196F3;
                                border-color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}