.app-home-search {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    margin: 0 auto;
    padding: 25px 20px;
    background-color: white;
    border-radius: 5px;
    @media screen and (max-width: 1440px) {
        padding: 20px 20px;
    }
    @media screen and (max-width: 1024px) {
        width: 80%;
    }
    .text {
        font-size: 14px;
        color: #2f405d;
        font-weight: bold;
        @media screen and (max-width: 1280px) {
            font-size: 12px;
        }
    }
    .content {
        margin-top: 15px;
        line-height: 1;
        @media screen and (max-width: 1440px) {
            margin-top: 10px;
        }
        .column {
            border-radius: 5px;
            background-color: #ffffff;
            border: 1px solid #9da9bc;
            padding: 10px;
            height: 44px;
            position: relative;
            @media screen and (max-width: 1280px) {
                padding: 8px;
                height: 40px;
            }
            .down-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                background-color: white;
                width: 20px;
                height: 20px;
                pointer-events: none;
                cursor: pointer;
                svg {
                    fill: #acacac
                }
            }
        }
        .areas {
            width: calc(80% - 515px);
            margin-right: 15px;
            display: inline-block;
            @media screen and (max-width: 1280px) {
                margin-right: 10px;
                width: calc(80% - 420px);
            }
            @media screen and (max-width: 1024px) {
                width: calc(50% - 8px);
                margin-right: 15px;
                margin-bottom: 15px;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            select {
                width: 100%;
                border: none;
                background-color: transparent;
                font-size: 16px;
                color: #9da9bc;
                @media screen and (max-width: 1400px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 12px;
                }
            }
            select::-ms-expand {
                display: none;
            }
        }
        .date {
            width: 270px;
            margin-right: 15px;
            display: inline-block;
            position: relative;
            @media screen and (max-width: 1280px) {
                width: 240px;
            }
            .DateRangePickerInput {
                border: none;
                z-index: 9;
                .DateInput {
                    width: 95px;
                    @media screen and (max-width: 1280px) {
                        width: 80px;
                    }
                    input {
                        font-family: "Open Sans";
                        color: #9da9bc;
                        line-height: 1;
                        padding: 0;
                    }
                }
                .DateRangePickerInput_arrow {
                    margin-right: 10px;
                }
            }
            .CalendarDay {
                line-height: 38px;
            }
            .CalendarMonth_caption {
                padding-top: 30px;
            }
            .DayPicker_transitionContainer {
                height: 350px !important;
            }
            input[type="date"]:before {
                content: attr(placeholder) !important;
                color: #aaa;
                width: 100%;
            }
            input[type="date"]:focus:before,
            input[type="date"]:valid:before {
                content: "";
                font-family: "Open Sans";
            }
            @media screen and (max-width: 1280px) {
                margin-right: 10px;
            }
            @media screen and (max-width: 1024px) {
                margin-right: 0px;
                margin-bottom: 15px;
                width: calc(50% - 8px);
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            .date-icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                pointer-events: none;
                z-index: 1;
                background: #fff;
            }
            input {
                width: 100%;
                border: none;
                font-size: 16px;
                color: #9da9bc;
                @media screen and (max-width: 1400px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 12px;
                }
            }
        }
        .guest {
            width: 200px;
            margin-right: 15px;
            display: inline-block;
            border-radius: 5px;
            background-color: #ffffff;
            border: 1px solid #9da9bc;
            padding: 10px;
            @media screen and (max-width: 1280px) {
                margin-right: 10px;
                width: 150px;
            }
            @media screen and (max-width: 1024px) {
                width: calc(50% - 8px);
                margin-right: 15px;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 15px;
            }
            select {
                width: 100%;
                border: none;
                background-color: transparent;
                font-size: 16px;
                color: #9da9bc;
                @media screen and (max-width: 1400px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 12px;
                }
            }
        }
        .search {
            width: 20%;
            display: inline-block;
            border-radius: 5px;
            background-color: #393337;
            @media screen and (max-width: 1024px) {
                width: calc(50% - 8px);
                margin-right: 0px;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            button {
                background-color: transparent;
                color: white;
                border: none;
                font-size: 16px;
                text-align: center;
                width: 100%;
                @media screen and (max-width: 1400px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 12px;
                }
            }
        }
    }
}